{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/flatly/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
  <title>{% block title %}{% endblock %}</title>

</head>
<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 mb-3 bg-white border-bottom box-shadow account-header">
     <h5 class="my-0 mr-md-auto font-weight-normal">Sample Django Auth</h5>
     </nav>
    {% if user.is_authenticated %}
      <img src="{% static 'user-profile-placeholder.png' %}" class="header-profile-image rounded-circle mr-2">
      <a class="account-signout-link" href="{% url 'logout' %}">Sign out</a>
    {% else %}
      <a class="account-signin-link mr-2" href="{% url 'login' %}">Sign in</a>
      or
      <a class="btn btn-light account-register-link ml-2" href="{% url 'signup' %}">Sign up</a>
    {% endif %}
  </div>

<main role="main">
{% block content %}
{% endblock %}
</main>

{% block javascript %}
{% endblock %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
