{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger" role="alert">
  Hmm... something is afoot. Please try to enter your new password again.
</div>
{% endif %}

<div class="row justify-content-md-center">
  <div class="col-md-auto">
      <img class="mx-auto d-block m-4" src="{% static 'logo.png' %}" alt="" width="120" height="120">

      <form class="m-1 form-signin needs-validation" method="post" name="ResetForm" novalidate>
        {% csrf_token %}
        <label for="id_old_password" class="sr-only">Current Password</label>
        <input class="mt-2 form-control" type="password" id="id_old_password" name="old_password"  placeholder="Current Password" required>
        <div class="invalid-feedback">
          Please enter a valid password.
        </div>
        <label for="id_new_password1" class="sr-only">New Password</label>
        <input class="mt-2 form-control" type="password" id="id_new_password1" name="new_password1"  placeholder="New Password" required>
        <div class="invalid-feedback">
          Please enter a valid password.
        </div>
        <label for="id_new_password2" class="sr-only">Confirm Password</label>
        <input class="mt-2 form-control" type="password" id="id_new_password2" name="new_password2"  placeholder="Confirm Password" required>
        <div class="invalid-feedback">
          Please check that your passwords match.
        </div>
        <button class="mt-4 btn btn-lg btn-primary btn-block" type="submit">Reset Password</button><a href="{% url 'login' %}"> or sign in here</a>
      </form>
    </div>
</div>

{% endblock %}

{% block javascript %}

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        var password1 = document.getElementById("id_new_password1");
        var password2 = document.getElementById("id_new_password2");
        if (password1.value != password2.value) {
          password2.setCustomValidity("Passwords do not match");
        }
        else {
          password2.setCustomValidity('')
        }
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>


{% endblock %}
