.form-signin {
  min-width: 300px;
}

img.header-profile-image {
  height: 37px;
  width: 37px;
}

div.saved-succesfully {
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
    opacity: 0;
}

@-webkit-keyframes fadeinout {
  0% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeinout {
  0% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
