{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger" role="alert">
  <span>Hmm... something is afoot. Please try to enter your information again.</span>
  <ul>
    {% if form.username.errors %}
      {{ form.username.errors }}
    {% endif %}
    {% if form.password1.errors %}
      {{ form.password1.errors }}
    {% endif %}
    {% if form.password2.errors %}
      {{ form.password2.errors }}
    {% endif %}
  </ul>
</div>
{% endif %}

<div class="row justify-content-md-center">
  <div class="col-md-auto">
      <img class="mx-auto d-block m-4" src="{% static 'logo.png' %}" alt="" width="120" height="120">
      <form class="m-1 form-signin needs-validation" method="post" action="{% url 'signup' %}" name="SignupForm" novalidate>
        {% csrf_token %}
        <label for="inputEmail" class="sr-only">Email</label>
        <input class="form-control" type="email" id="username" name="username"  placeholder="Username" required>
        <div class="invalid-feedback">
          Please enter a valid email address.
        </div>
        <label for="inputPassword" class="sr-only">Password</label>
        <input class="mt-2 form-control" type="password" name="password1" id="password1" placeholder="Password" required>
        <div class="invalid-feedback">
          Please enter a valid password.
        </div>
        <label for="inputPassword" class="sr-only">Password</label>
        <input class="mt-2 form-control" type="password" name="password2" id="password2" placeholder="Retype Password" required>
        <div class="invalid-feedback">
          Please check that your passwords match.
        </div>
        <button class="mt-2 btn btn-lg btn-primary btn-block" type="submit">Register</button><a href="{% url 'login' %}"> or sign in here</a>
      </form>
    </div>
</div>

{% endblock %}

{% block javascript %}

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        var password1 = document.getElementById("password1");
        var password2 = document.getElementById("password2");
        if (password1.value != password2.value) {
          password2.setCustomValidity("Do not match");
        }
        else {
          password2.setCustomValidity('')
        }
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}
